# Virtual environments
ml-smartqueue/
ml-queue-api/
venv/
env/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Model files (besar, simpan di storage terpisah jika perlu)
# models/  ← uncomment baris ini jika model tidak mau di-push
