# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
test.venv/
.pixi/
pixi.lock

# Environment variables (sensitive)
.env

# Jupyter Notebook
.ipynb_checkpoints/

# macOS
.DS_Store

# Logs
*.log

# IDE
.vscode/
.idea/
