# Web framework
fastapi
uvicorn[standard]
gunicorn

# Validasi data
pydantic

# AI / ML
google-generativeai
tensorflow-cpu==2.16.2
scikit-learn==1.5.1
pandas==2.2.2
numpy==1.26.4
joblib==1.4.2

# Utilities
python-dotenv
